@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-padding: 1rem;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #1c1f25;
  background: black;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background: #dee3ee;
  color: rgb(32, 28, 28);
}
